// ==========================================================================
// Color
// ==========================================================================
/// @type String
$color-a: #555;
/// @type String
$color-b: #f5f5f5;
/// @type String
$color-c: #f36b34;

// ==========================================================================
// Background Color
// ==========================================================================
/// @type String
$bg-color-a: #faf8f2;
/// @type String
$bg-color-b: #f36b34;
/// @type String
$bg-color-c: #5570a7;
/// @type String
$bg-color-d: #51c96e;
/// @type String
$bg-color-e: #f5f5f5;

// ==========================================================================
// Link Color
// ==========================================================================
/// @type String
$link-color-a: #3b8bba;

// ==========================================================================
// Border Color
// ==========================================================================
/// @type String
$bd-color-a: #000;
/// @type String
$bd-color-b: #fff;
/// @type String
$bd-color-c: #d8d8d8;
