// Ellipsis
.u-elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Position
.u-ref { position: relative; }
.u-abs { position: absolute; }

// Width
.u-full   { width: 100%; }
.u-half   { width: 50%; }
.u-third  { width: 33.3%; }
.u-quater { width: 25%; }
.u-fifth  { width: 20%; }

// Font Weight
.u-fwn   { font-weight: normal !important; }
.u-fwb   { font-weight: bold !important; }

// Margin
.u-mla  { margin-left: auto !important; }
.u-mra  { margin-right: auto !important; }
.u-mca  { margin-left: auto !important; margin-right: auto !important; }

// Vertical Align
.u-vt   { vertical-align: top !important; }
.u-vm   { vertical-align: middle !important; }
.u-vb   { vertical-align: bottom !important; }
